# Ignorar o diretório de dependências do Composer
/vendor/

# Register libs
composer.lock

# Variáveis de ambiente
.env

# OpenCode config file
opencode.json

# Cache files
storage/cache/*
!storage/cache/.gitkeep
storage/localcache/*
!storage/localcache/.gitkeep
storage/log/*
!storage/log/.gitkeep
