<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <style>
        .contant {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div class="contant">
        <div>
            <h1>Página não encontrada</h1>
            <button onclick="history.back()">Voltar</button>
        </div>
    </div>
</body>
</html>