<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro inesperado</title>
    <style>
        .contant {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>

<body style="margin: 0px;">
    <div class="contant">
        <div>
            <h1>Ocorreu um erro inesperado</h1>
        </div>
    </div>
</body>
</html>