{% extends "base.twig" %}

{% block content %}
  <div class="card mb-4">
    <!-- /.card-header -->
    <div class="card-body responsive p-0">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Progress</th>
            <th scope="col">Label</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="align-middle">
            <td>1.</th>
              <td>Update software</td>
              <td>
                <div class="progress progress-xs">
                  <div
                  class="progress-bar progress-bar-danger"
                  style="width: 55%"
                  ></div>
                </div>
              </td>
              <td><span class="badge text-bg-danger">55%</span></td>
            </tr>
            <tr class="align-middle">
              <td>2.</td>
              <td>Clean database</td>
              <td>
                <div class="progress progress-xs">
                  <div class="progress-bar text-bg-warning" style="width: 70%"></div>
                </div>
              </td>
              <td><span class="badge text-bg-warning">70%</span></td>
            </tr>
            <tr class="align-middle">
              <td>3.</td>
              <td>Cron job running</td>
              <td>
                <div class="progress progress-xs progress-striped active">
                  <div class="progress-bar text-bg-primary" style="width: 30%"></div>
                </div>
              </td>
              <td><span class="badge text-bg-primary">30%</span></td>
            </tr>
            <tr class="align-middle">
              <td>4.</td>
              <td>Fix and squish bugs</td>
              <td>
                <div class="progress progress-xs progress-striped active">
                  <div class="progress-bar text-bg-success" style="width: 90%"></div>
                </div>
              </td>
              <td><span class="badge text-bg-success">90%</span></td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.card-body -->
    </div><!-- /.card -->
    <pre>{{ dump(USERS) }}</pre>
  {% endblock %}